:root {
    --primary-color: #477998;
    --secondary-color: #0e1c36;
    --accent-color: #68c8cf;
    --danger-color: #dd614a;
    --light-color: #ffede1;
    --spacing: 0.5em;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Optima, 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    color: var(--secondary-color);
    
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.header-container {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    padding: 0.7em 1.5em;
}

.nav-container {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
}

.content-container {
    padding: 1.5em;
    position: relative;
}

.footer-container {
    background-color: var(--primary-color);
    padding: 0.3em 1.5em;
    margin-top: var(--spacing);
    box-shadow: 0 50vh 0 50vh var(--primary-color); /*so footer background color extends to bottom when main content is short */
}

.site-name {
    vertical-align: middle;
    font-size: 1.8em;
    font-weight: bold;
}

.site-name-large {
    font-size: 2.2em;
    margin-right: auto;
}

.content-section {
    padding: var(--spacing);
}

.logo-svg {
    width: 6%;
}

.logo {
    fill: var(--secondary-color);
    stroke: var(--secondary-color);
    stroke-width: 30px;
    vertical-align: middle;
}

.complete-icon {
    fill: var(--accent-color);
    stroke: var(--accent-color);
    stroke-width: 30px;
}

.incomplete-icon {
    fill: var(--primary-color);
    stroke: var(--primary-color);
    stroke-width: 30px;
}

.delete-svg {
    width: 36px;
}

.delete-icon {
    fill: var(--light-color);
    stroke: var(--light-color);
    stroke-width: 20px;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.flash {
    position: absolute;
    top: 0;
    justify-self: center;
    animation: fadeOut 1s ease-in 1s forwards;
    font-size: 0.8em;
    color: var(--primary-color);
    padding: 1em;
    /* padding: var(--spacing);
    z-index: 1;
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 1px solid var(--background-color);
    margin-top: var(--spacing);
    margin-right: var(--spacing); */
}

.invalid-msg {
    color: var(--danger-color);
}

input, select {
    padding: 0.2em 0.4em;
    font-weight: bold;
    font-family: inherit;
    border-radius: 6px;
    border: 2px solid var(--primary-color);
    color: var(--text-color);
    background-color: #e2e7f0;
}

input:focus, select:focus {
    outline: 2px solid var(--accent-color);
}

.input-box {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: var(--spacing) 0;
}

.search-bar {
    margin: var(--spacing) 0.9em;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-svg {
    width: 7%;
    margin: 0 0.2em;
    vertical-align: middle;
}

.search-icon {
    fill: var(--primary-color);
    stroke: var(--primary-color);
    stroke-width: 36px;
}

.search-input {
    flex-grow: 1;
    font-size: 1em;
}

.filter-label {
    font-size: 0.8em;;
}

.list {
    margin: var(--spacing) 0.9em;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.list-item {
    display: grid;
    grid-template-areas:
        "title title"
        "description description"
        "due due"
        "priority completed"
        "actions actions";
    justify-items: center;
    align-items: center;
    background-color: #e2e7f0;
    padding: var(--spacing);
    margin: 0.5em 0;
    border: 2px solid var(--primary-color);
    border-radius: 20px;
    font-size: 0.65em;
}

.task-title {
    grid-area: title;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0.2em 0 0.4em;
}

.task-description {
    grid-area: description;
}

.task-due {
    grid-area: due;
    font-weight: bold;
}

.task-priority {
    grid-area: priority;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--danger-color);
}

.task-status {
    grid-area: completed;
    width: 74px;
}

.task-element {
    padding: var(--spacing);
}

.actions {
    grid-area: actions;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.btn {
    border: none;
    border-radius: 8px;
    background-color: var(--accent-color);
    color: var(--text-color);
    font-family: inherit;
    font-size: 1.2em;
    padding: var(--spacing);
    margin: var(--spacing);
    /* align-self: center; */
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    background-color: #36a9b1;
}

.delete-btn {
    background-color: var(--danger-color);
    color: var(--light-color);
}

.delete-btn:hover {
    background-color: #cf4026;
}

.back-btn {
    font-size: 0.8em;
}

.create-form {
    margin: var(--spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-form fieldset {
    border: 2px solid var(--primary-color);
    font-size: 0.8em;
}

.create-form legend {
    font-weight: bold;
    font-size: 1.1em;
}

.form-input-group {
    padding: 0.3em 0;
    display: flex;
}

.form-label {
    padding: 0 0.3em 0 0;
}

.form-input {
    flex-grow: 1;
    font-size: 0.7em;
    margin: 0 0 0.25em;
}

.info-msg {
    font-size: 0.7em;
    color: var(--primary-color);
    padding: 0.3em;
}

.invalid-msg {
    color: var(--danger-color);
}

/* mobile portrait layout (479px or less */
@media only screen and (max-width: 479px) {
    
}


/* mobile landscape layout (480px to 767px) */
@media only screen and (min-width: 480px) {
    .filters {
        display: flex;
    }

    .filter-box {
        padding: var(--spacing);
    }

    .list-item {
        font-size: 0.8em;
        max-width: 80%;
    }

    .actions {
        gap: 1em;
    }

    .create-form {
        font-size: 1.4em;
    }

    .back-btn {
        font-size: 0.9em;
    }
}

/* tablet layout (768px to 1023px) */
@media only screen and (min-width: 768px) {
    body {
        font-size: 2rem;
    }

    .logo-svg {
        width: 72px;
    }
    
    .list {
        font-size: 1.1em;
    }

    .task-priority {
        font-size: 1.9em;
    }

    .task-status {
        width: 100px;
    }

    .delete-svg {
        width: 52px;
    }
}

/* desktop layout (1024px or more) */
@media only screen and (min-width: 1024px) {
    .content-section {
        padding: 2em;
    }

    .list-item {
        width: 60%;
        padding: 1em;
    }

    .task-description {
        width: 70%;
    }
}